{% extends 'frontend/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<div id="login">
    <div class="container">
        <div
            id="login-row"
            class="row justify-content-center align-items-center"
        >
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    {% csrf_token %}
                    <div class="text-center text-info" style="margin-top: 60px">
                        <img
                            style="height: 30px; margin-bottom: 70px"
                            src="{% static 'img/logo.png' %}"
                        />

                        <h1>Password reset complete.</h1>
                    </div>
                    <div class="form-group">
                        <p>
                            Your password has been set. You may go ahead and log
                            in now.
                        </p>

                        <div class="form-group">
                            <h3 class="text-center text-info">
                                <div
                                    id="loadingSpinner"
                                    class="spinner-border text-primary"
                                    role="status"
                                    style="display: none"
                                >
                                    <span class="sr-only">Loading...</span>
                                </div>

                                <a href="{% url 'login' %}">
                                    <input
                                        id="submitButton"
                                        type="submit"
                                        name="submit"
                                        class="btn btn-info btn-md"
                                        value="Back to login page"
                                    />
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %} {% block js %}
    <script>
        window.onload = function () {
            mainPageLoad();
        };

        $("#submitButton").click(function () {
            $("#loadingSpinner").show();
            $("#submitButton").hide();
        });
    </script>
    {% endblock js %}

    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Send me instructions!" />
    </form>
</div>
