{% extends 'frontend/base.html' %} 
{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-6">
                    <h1 id="title"></h1>
                    <div id="legend"></div>
                </div>
                <div class="col-md-6 align-self-center" style="text-align: center;">
                    <div id="buttons"></div>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="row" id="cards">
                </div>
          </div>
      </div>
    </div>
</div>

{% endblock content %} 
{% block js %}
<script>
    const authToken = localStorage.getItem("auth");

    $(document).ready(function () {
        $.ajax({
            url: "/api/decks/{{ card_list_id }}/",
            type: "GET",
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", "Token " + authToken);
            },
            dataType: "json",
            success: function (data) {
                if(data == ""){
                    alert('Card list not found!');
                    window.location.href = "/";
                }else{
                    console.log(data)
                    loadPageTemplate(data[0]);
                }
            }
        });
    });

    const openModal = (options, id) => {
        $('#modal').modal('show');
        var modalTemplate = loadModalTemplates(options,id); 
        modalTitle.innerHTML = modalTemplate.title;
        modalDescription.innerHTML = modalTemplate.description;
        modalButton.innerHTML = modalTemplate.button;
    }

    const loadModalTemplates = (options, id) => {
        var template = {};
            if(options === "addCard"){
                template.title = "Add new card";
                template.button = "<button type='button' class='btn btn-primary' onclick='addCard("+ id +")'>Save</button>";
                template.description = `
                    <div class="form-group">
                       <label for="front">Front side of the new card (Question)</label>
                       <input type="text" class="form-control input-field" id="cardFront" aria-describedby="front">
                       <div  id="invalidCheckCardFront" class="invalid-feedback">
                        Please provide a question.
                        </div>
                     </div>
                     <div class="form-group">
                       <label for="back">Back side of the new card (Answer)</label>
                       <input type="text" class="form-control input-field" id="cardBack" aria-describedby="back">
                       <div  id="invalidCheckCardBack" class="invalid-feedback">
                        Please provide an answer.
                        </div>
                     </div>`
            }
        return template;
    }

    function loadPageTemplate(data){
        title.innerHTML = `<h1>${data.name}</h1>`;
        legend.innerHTML = '<p><b>Created at:</b> ' + data.created_at + ' - <b>by</b> '  + data.username + '</p><p>' + data.description + '</p>';
        buttons.innerHTML = `<div style="padding-bottom:10px;">
            <button type="button" class="btn btn-success btn-lg" style="margin-right:10px">Start</button>
            <button type="button" class="btn btn-danger btn-lg">Delete this card</button>
            <button type="button" class="btn btn-info btn-lg" onClick="openModal('addCard',${data.id})">Add card</button>
        </div>`;

        for (let index = 0; index < data.cards.length; index++){
          $("#cards").append(loadCardTemplate(data.cards[index]));
        }
    }

    const loadCardTemplate = (data) => { 
      card = ` 
        <div class="col-md-4" id="card_id_${data.id}">
        <div class="card text-center any-card" 
        style="width: 18rem; margin-bottom:10px; height:250px; cursor: pointer;">
        <div class="card-header text-muted">
        </div>
        <div class="card-body">
        <h2 class="card-title">${data.front}</h2>
        <p class="card-text">Created by: ${data.username}</p>
        </div>
        <div class="card-footer text-muted">
        <button type="button" class="btn btn-outline-danger btn-sm" onClick="deleteCard(${data.id})">Delete</button>
        <button type="button" class="btn btn-outline-warning btn-sm">Update</button>
        <button type="button" class="btn btn-outline-info btn-sm">History</button>
        </div>
        </div>`;
        return card;
    }

    const addCard = (deck_id) => {
        cardFront = $("#cardFront").val();
        cardBack = $("#cardBack").val();

        var jsonData = {
            "front": cardFront,
            "back": cardBack,
            "card_list": deck_id
        };

        $.ajax({
            url: "/api/cards/",
            type: "POST",
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", "Token " + authToken);
            },
            data: JSON.stringify(jsonData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#modal').modal('hide');
                $("#cards").append(loadCardTemplate(response));
            },
            error: function(response){
                alert(response);
            }
        });
    }

    const deleteCard = (card_id) => {  
        $.ajax({
            url: "/api/cards/" + card_id + "/",
            type: "DELETE",
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", "Token " + authToken);
            },
            dataType: "json",
            success: function (response) {
                if(response.status == 1){
                    document.getElementById("card_id_" + card_id).remove();
                }else{
                    alert("Não foi possível apagar o card.")
                }
            }
        });
    }



</script>
{% endblock %}