body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.goBack {
  background-color: #04AA6D;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.9px 16px 5px; 
  border-radius: 20%;
}

.goBack:hover {
  background-color: green;
  color: black;
}

.center-spinner{
  position:absolute;
  top:50%;
  left:50%;
}

.hand {
  cursor: pointer;
}

.hide{
  display:none;
}
.show{
  display:inline;
}

.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}