{% extends 'frontend/base.html' %} 
{% block content %}

<style>
  .hide{
    display:none;
  }

  .show{
    display:inline;
  }
</style>

<div class="container">
    <div class="jumbotron">
        <h1>Hello, {{ user.username }}</h1>
          <div class="container">
            <div class="row" id="card_list"></div>
          </div>
      </div>
    </div>
</div>
{% endblock content %} 
{% block js %}
<script>
    $(document).ready(function () {
      localStorage.setItem("auth",'{{ auth }}')

        $.ajax({
            url: "/api/decks/",
            type: "GET",
            dataType: "json",
            success: function (data) {
              for (let index = 0; index < data.length; index++){
                $("#card_list").append(loadCardListCard(data[index]));
              }
              cardListLoaded(data);
            },
        });
    });

    const loadCardListCard = (data) => { 
      card = ` 
      <div class="col-md-4">
      <div class="card text-center any-card" 
      style="width: 18rem; margin-bottom:10px; height:250px; cursor: pointer;"
      id=${data.id}>
      <div class="card-body">
      <h4 class="card-title">${data.name}</h5>
      <p class="card-text">Created by: ${data.username}</p>
      <p class="card-text">${data.description}</p>
      </div>
      <div class="card-footer text-muted">
      <p class="card-text">Total cards: ${data.cards.length}</p>
      </div>
      </div>`;
  return card;
}

const cardListLoaded = (data) => {
  $( ".any-card" ).click(function() {
    let id = $(this).attr('id');
        window.location.href = "/cards/list/" + id + "/";
  });
}

</script>
{% endblock js %}



