{% extends 'frontend/base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="progress" style="width:100%">
                <div class="progress-bar bg-success" role="progressbar" id="barSuccess"></div>
                <div class="progress-bar bg-danger" role="progressbar" id="barFailure"></div>
              </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row align-items-center" style="padding-bottom:30px;">
            <div class="col-md-12">
                <h1 id="title"></h1>
                <div id="legend"></div>
            </div>
          </div>
          <div class="container">
            <div class="row" id="card_list">
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %} 
{% block js %}
    <script>
    let deckData = [];
    let cardIndex = 0;
    let resultData = [];

    let progressTotal = 0;
    let progressFailure = 0;
    let progressSuccess = 0;
    
    $(document).ready(function () {
        $.ajax({
            url: "/api/decks/{{ deck_id }}/",
            type: "GET",
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", "Token " + authToken);
            },
            dataType: "json",
            success: function (data) {
                if(data == ""){
                    alert("Deck not found!");
                    window.location.href = "/";
                }else{
                    loadPageTemplate(data);
                }
            },
            complete: function(){
                mainPageLoad();
            }
        });
    });

    const answerSubmit = (card_id) => {
        let answerText = $("#answerText").val();

        if(answerText == ""){
            return alert("Fill the textarea");
        }
        
        if($("#cardAnswer").text().trim().toUpperCase() == answerText.trim().toUpperCase()){
            progressSuccess++;
            sendAnswerHistory(true,card_id,answerText);
        }else{
            progressFailure++;
            sendAnswerHistory(false,card_id,answerText);
        }

        progressBar();
        toggleCard();

        if((progressSuccess + progressFailure) == progressTotal){
            changeToFinishButton();
            return;
        }

        changeToNextCardButton();
    }

    const progressBar = () => {
            $("#barSuccess").css("width", (100 * progressSuccess) / progressTotal + "%");
            $("#barFailure").css("width", (100 * progressFailure) / progressTotal + "%");
    }
    
    const loadPageTemplate = (data) => {
        deckData = data.cards;
        progressTotal = deckData.length;
        title.innerHTML = `<a href="{% url 'memo_front:card_list' deck_id=deck_id  %}">
            <div class="goBack" id="goBack">&#8249;</div></a> ` + data.name;
        legend.innerHTML = data.description;
        card_list.innerHTML = loadCardAndAnswerBoxTemplate(data.cards[cardIndex]);
    }

    function goToNextCard(nextCardId){
        cardIndex++;
        card_list.innerHTML = loadCardAndAnswerBoxTemplate(deckData[cardIndex])
    }

    function loadCardAndAnswerBoxTemplate(data) {
        return `<div class="col-md-6">
                    <div class="flip">
                        <div class="card"> 
                          <div class="face front"> 
                            <div class="inner">   
                                <h1 id="cardQuestion">${data.front}</h1>
                            </div>
                          </div> 
                          <div class="face back"> 
                            <div class="inner"> 
                              <h1 id="cardAnswer">${data.back}</h1>
                            </div>
                          </div>
                        </div>	 
                    </div>
                </div>
                <div class="col-md-6 align-self-center" style="text-align: center;">
                    <div class="form-group">
                    <label for="answerText">Write the correct answer in text area below</label>
                    <textarea class="form-control" id="answerText" rows="3"></textarea>
                    </div>
                    <div class="form-group" id="buttonDiv">
                    <button id="answer" class="btn btn-primary" onclick="answerSubmit(${data.id})">Answer</button>
                    </div>
                </div>`;
    }

    const changeToNextCardButton = (nextCardId) => {
        buttonDiv.innerHTML = `<button id="answerButton" class="btn btn-warning" onclick="goToNextCard(${nextCardId})">Next Card</button>`;
    }

    const changeToFinishButton = () => {
        buttonDiv.innerHTML = `<button id="finishButton" class="btn btn-success" onclick="showResult()">Finish</button>`;
    }

    const showResult = () => {
        let resultTemplate = ``;
        resultTemplate += `
        <div>
            <p><b>Total of cards:</b> ${progressTotal}</p>
            <p><b>Correct:</b> ${(100 * progressSuccess) / progressTotal + "%"}</p>
            <p><b>Incorrect:</b> ${(100 * progressFailure) / progressTotal + "%"}</p>
        </div>
        <table class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Front</th>
            <th scope="col">Back</th>
            <th scope="col">Your Answer</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>`;

        resultData.map((card) => { resultTemplate += `
            <tr>
              <td>${card.front}</td>
              <td>${card.back}</td>
              <td>${card.user_answer}</td>
              <td>${returnIcon(card.correct)}</td>
            </tr>
        `});

        resultTemplate += `
            </tbody>
        </table>`;

        card_list.innerHTML = resultTemplate;
    }

    const toggleCard = () => {
        $(".card").toggleClass("flipped");
    }

    const sendAnswerHistory = (correct,card_id,answer) => {
        let jsonData = {
            "correct":correct,
            "card":card_id,
            "user_answer":answer,
            "front": cardQuestion.innerHTML,
            "back": cardAnswer.innerHTML
        };

        resultData.push(jsonData);

        $.ajax({
            url: "/api/card_answer/",
            type: "POST",
            beforeSend: function(request) {
                request.setRequestHeader("Authorization", "Token " + authToken);
            },
            data: JSON.stringify(jsonData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function(){
                alert('Card answer was not sent')
            }
        });
    }

</script>
{% endblock js %}



