{% extends 'frontend/base.html' %} 
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row align-items-center" style="padding-bottom:30px;">
            <div class="col-md-6">
              <h1>My learning</h1>
                <div id="legend"></div>
            </div>
          </div>
              <table id="table" class="display" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cards</th>
                        <th>Last Response</th>
                        <th>Average % of correct</th>
                        <th>Total deck's response</th>
                        <th>Card with the highest mistaken percentage</th>
                    </tr>
                </thead>
                <tbody id="tableData">
                </tbody>
            </table>
      </div>
    </div>
</div>
{% endblock content %} 
{% block js %}
<script>
  let presetDeckData = [];

    $(document).ready(function () {
      loadPage();
    });
  
    const loadPage = () => {
      let authToken = localStorage.getItem("auth");
      requestGetRequestTable();
    }

  const requestGetRequestTable = () => {

    $.ajax({
      url: "/api/my-learning-results/",
      type: "GET",
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "Token " + authToken);
      },
      dataType: "json",
      success: function (data) {

        if(data.length > 0){
          for (let index = 0; index < data.length; index++){
            $("#tableData").append(tableTemplate(data[index]));
          }
        }

      },
      complete: function(){
        $('#table').DataTable();
        mainPageLoad();
      }
    });
}

const tableTemplate = (deck) => {
      highestMistaken = (deck.cardsWithHighestMistaken.length === 0) ?
      '-' : deck.cardsWithHighestMistaken[0].front 
      + ' - ' + deck.cardsWithHighestMistaken[0].highest_mistaken + '%';

      averagePercentageOfCorrect = (deck.averagePercentageOfCorrect === null) ? 
      '-' : deck.averagePercentageOfCorrect + '%';

      amountOfCards = (!deck.amountOfCards) ? 
      ' - ' : deck.amountOfCards;

      return `<tr> 
        <td>${deck.deckName}</td>
        <td>${amountOfCards}</td>
        <td>${deck.lastResponseDay ?? '-'}</td>
        <td>${averagePercentageOfCorrect}</td>
        <td>${deck.totalDecksResponse ?? '-'}</td>
        <td>${highestMistaken}</td>
        </tr>`
  }

</script>
{% endblock js %}

